# DATA
# ========================

# Ignore all CSVs in data except mappings
data/raw/*.csv
data/processed/*.csv
data/predictions/*.csv
data/residuals/*.csv

# Keep mapping files under version control
!data/mappings/*.csv

# In case there are CSVs under the old project path
sparcs-sql-analysis/data/**/*.csv


# MODELS
# ========================

# Ignore all models by default
models/*

# Keep only final deliverables
!models/final/*
!models/final/**/*.pkl
!models/final/**/*.joblib

# SYSTEM / ENVIRONMENT
# ========================
.DS_Store
.vscode/
*.pyc
__pycache__/
.env